<img src="{{ "/" | relative_url }}/assets/perm/bird-balance-ball-gif.gif" class="img-fluid mb-3">

    <h3 class="text-uppercase fw-bold mb-3">Welcome to {{ site.title }}!</h3>
    <p>Here at {{ site.title }} we bring you animal-related content from around the world, from major news to technology. All content on this site is totally voluntary, meaning you can get news from all sorts of different perspectives from all around the world.</p>

    <p>We currently do not have any permanent positions! As the site is run on a voluntary basis, we rely on people like you to provide content to the site. If you're interested in submitting an article, please contact us at {{ site.email }} and we can start your submission review process right away!</p>

</div>
